@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

:root {
    --night: #141414ff;
    --air-superiority-blue: #7b97afff;
    --white-smoke: #f5f5f5ff;
    --oxford-blue: #0d2a4cff;
    --satin-sheen-gold: #cfa251ff;
    --yinmn-blue: #335779ff;    
}

/* global */
body {
    overflow-x: hidden;
    max-width: 100%;
    position: relative;
}

h1 {
    font-size: 3.5rem;
    line-height: 1.1;    
    font-weight: 800;
    letter-spacing: 1px;
}

h2 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    letter-spacing: 1px;
    text-align: center;
}

h3 {
    font-size: 1.75rem;
    font-weight: 700;
    letter-spacing: 1px;
}

h4 {
    font-size: 1.25rem;
    font-weight: 700;
}

h5 {
    font-size: 1.05rem;
    font-weight: 700;
}

span { font-size: inherit; }

a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
}

p {
    font-size: 1rem;
    line-height: 1.6;
    max-width: 100%;
    margin: 1rem 0;
}

.container {
    padding: 2rem 3rem;
    min-width: 100%;
}

.flex-s-b {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.img-fluid-content {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.box { 
    flex-basis: 30%; 
    padding: 2rem 0;
}

.btn {
    padding: 1rem;
    border-radius: 0.8rem;
    font-weight: 400;
    font-size: 0.95rem;
    overflow: hidden;
    z-index: 1;
    color: var(--white-smoke);
    background-color: var(--satin-sheen-gold);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}
        
.btn:hover {
    transform: translateY(-3px);
    background-color: var(--white-smoke);
    color: var(--satin-sheen-gold);
}

/* main header */
.header-menu {
    background-color: var(--yinmn-blue);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-content { align-items: center; }

.logo-itec {
    height: 4rem; 
    vertical-align: middle;
}

nav a { 
    margin-left: 1.5rem;
    transition: transform 0.3s ease, color 0.3s ease; 
    text-transform: uppercase;
    font-size: 0.85rem;
    color: var(--white-smoke);
}

nav a:hover { color: var(--satin-sheen-gold); }

.icono { width: 60px;}

footer {
    background-color: var(--yinmn-blue);
    color: var(--white-smoke);
    display: flex;
    justify-content: space-between;
    padding: 1rem 4rem;
}

/* hero */
#hero {
    background-color: var(--yinmn-blue);
    min-height: 50vh;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.particle-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.hero-content {
    z-index: 2;  
    flex-direction: column;
}
.hero-content h1 { color: var(--white-smoke); }
.hero-content h2 { text-align: left; }

.hero-text {
    margin-top: 6rem; 
    color: var(--white-smoke);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.hero-content-left { align-self: start; }

.hero-content-right {
    flex-direction: column;
    align-items: flex-start;
}

.lead { color: var(--white-smoke); }

/* intro */
#intro {
    background-color: var(--white-smoke);
    gap: 1.5rem;
    position: relative;
    z-index: -1;
    min-height: 500px;
}

.line-break {
    display: block;
    font-weight: 700;
}

/* flotante */
#flotante {
    z-index: 999;
    background-color: var(--yinmn-blue);
    max-width: 1000px;
    margin: 0 auto;
    margin-top: -5rem;
    margin-bottom: -10rem;
    border-radius: 3rem;
    padding: 2rem;
    align-items: center;
    flex-wrap: wrap; 
    text-align: center;
}

#flotante .box span {
    display: block;
    font-size: 3rem;
    font-weight: 800;
    color: var(--satin-sheen-gold);
    line-height: 1.1;
}

#flotante .box p {
    color: var(--white-smoke);
    opacity: 0.8;
}

/* imagen decorativa */
#imagen-deco {
    z-index: -1;
    position: relative;
    overflow: hidden;
    height: 30rem;
}

/* clientes */
#clientes, #servicios {
    padding-top: 3rem;
    padding-bottom: 4rem;
}
#clientes {
    background-color: var(--yinmn-blue);
    overflow: hidden;
}

#clientes h2 { color: var(--satin-sheen-gold); }

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  width: max-content;
  animation: scroll 60s linear infinite;
}

.carousel-track:hover { animation-play-state: paused; }

.logo {
  height: 100px;      
  width: auto;       
  margin: 0 2rem;
  filter: grayscale(100%);
  opacity: 0.6;
  transition: filter 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
  flex-shrink: 0;
}

.logo:hover {
  filter: grayscale(0%);
  opacity: 1;
  transform: scale(1.1);
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

/* servicios */
#servicios { background-color: white; }

.servicios-container {
    text-align: center;
}

#servicios h2 { text-align: center; }

#servicios .box { 
    background-color: var(--white-smoke);
    border-radius: 0.8rem;
    padding: 4rem 2rem;
}

#servicios .box h4 { padding-bottom: 2rem; }

#servicios .box a { color: var(--night); }

#servicios a:hover { font-weight: 600; }

/* cta */
#cta {
    background-color: var(--yinmn-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cta h2,
#cta h3,
#cta p { 
    color: var(--white-smoke); 
    text-align: center;
}

#cta p { width: 60%; }

/* footer */
footer a,
footer p {
    color: var(--white-smoke);
    font-size: 0.8rem;
}

/* otras pgs */
.bold { font-weight: 600; }

/* empresa */
.mision-vision {
    background-color: var(--yinmn-blue);  
    border-radius: 1rem;
    padding: 2rem; 
    color: var(--white-smoke);
}

.mision-vision h2 { text-align: left; }

#historia {
    padding-top: 2rem;
    flex-direction: column;
}

#historia h2 { text-align: left;}

#historia article {
    
}
/* media query */
@media (max-width: 992px) {
    nav { display: none; }
    h1, h2 { text-align: center; }
    #hero { height: auto; }

    .hero-text {
        grid-template-columns: 1fr; 
        gap: 2rem;
        margin-top: 1rem;
    }
    
    .right {
        align-items: center; 
        text-align: center;
    }
    
    .lead { max-width: 90%; }

    #intro, .servicios-container { 
        flex-direction: column; 
    }

    #intro article, 
    #servicios article { width: 100%; } 
    .line-break { display: inline; }
    #imagen-deco { display: none; }
    #flotante { display: none; }
    #cta h1 { font-size: 2.75rem; }
    footer p, footer a { font-size: 0.85rem; }
}