@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

:root {
    --night: #141414ff;
    --air-superiority-blue: #7b97afff;
    --white-smoke: #f5f5f5ff;
    --oxford-blue: #0d2a4cff;
    --satin-sheen-gold: #cfa251ff;
    --yinmn-blue: #335779ff;    
}

/* global */
body {
    overflow-x: hidden;
    max-width: 100%;
    position: relative;
}

h1 {
    font-size: 3.5rem;
    line-height: 1.1;
    
    font-weight: 800;
    letter-spacing: 1px;
    color: var(--white-smoke);

}

h2 {
    font-size: 2.25rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

h4 {
    font-size: 1.25rem;
    padding: 1rem 0;
}

a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--white-smoke);
}

p {
    font-size: 1.1rem;
    line-height: 1.6;
    max-width: 100%;
    margin-bottom: 25px;
}

.btn {
    margin-top: 0;
    padding: 1rem;
    border-radius: 0.8rem;
    font-weight: 400;
    font-size: 0.95rem;
    color: var(--white-smoke);
    overflow: hidden;
    z-index: 1;
    background-color: var(--satin-sheen-gold);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
        
.btn:hover {
    transform: translateY(-3px);
    background-color: var(--white-smoke);
    color: var(--satin-sheen-gold);
}

/* header */
.header-menu {
    background-color: var(--yinmn-blue);
    padding: 2rem 3rem;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img {
    height: 4rem; 
    vertical-align: middle;

}

nav a { 
    margin-left: 1.5rem;
    transition: transform 0.3s ease, color 0.3s ease; 
    text-transform: uppercase;
    font-size: 0.85rem;
}

nav a:hover {
    color: var(--satin-sheen-gold);
}

.icono { width: 60px;}

/* hero */
#hero {
    background-color: var(--yinmn-blue);
    width: 100%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 4rem
}

.particle-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.hero-content {
    z-index: 2;  
    display: flex;
    flex-direction: column;
}

.hero-text {
    margin-top: 6rem; 
    color: var(--white-smoke);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.left { align-self: start; }

.right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.lead { color: var(--white-smoke); }

/* intro */
#intro {
    display: flex;
    justify-content: space-between;
    min-height: 550px;
    background-color: var(--white-smoke);
    gap: 1.5rem;
    padding: 4rem;
    
    position: relative;
    z-index: -1;
}

#intro article { 
    text-align: left; 
    width: 30%;
}

.line-break {
    font-size: 1.25rem;
    display: block;
    margin-top: 0.5rem;
}

/* flotante */
#flotante {
    z-index: 999;
    background-color: var(--yinmn-blue);
    color: var(--white-smoke);

    max-width: 1000px;
    margin: 0 auto;
    margin-top: -6.25rem;
    margin-bottom: -6.25rem;
    border-radius: 3rem;
    padding: 2rem;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; 
    text-align: center;
}

.box { flex-basis: 30%; }

.box span {
    display: block;
    font-size: 3rem;
    font-weight: 800;
    color: var(--satin-sheen-gold);
    line-height: 1.1;
}

.box p {
    font-size: 1rem;
    margin-top: 5px;
    opacity: 0.8;
}

/* imagen decorativa */
#imagen-deco {
    z-index: -1;
    position: relative;
    overflow: hidden;
    height: 25rem;
}

.img-fluid-content {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

/* clientes */
#clientes {
    background-color: var(--yinmn-blue);
    padding: 2rem 4rem 4rem;
    overflow: hidden;
}

#clientes h2 {
    text-align: center;
    color: var(--satin-sheen-gold);
    padding-bottom: 2rem;
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  width: max-content;
  animation: scroll 60s linear infinite;
}

.carousel-track:hover {
  animation-play-state: paused;
}

.logo {
  height: 100px;      
  width: auto;       
  margin: 0 2rem;
  filter: grayscale(100%);
  opacity: 0.6;
  transition: filter 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
  flex-shrink: 0;
}

.logo:hover {
  filter: grayscale(0%);
  opacity: 1;
  transform: scale(1.1);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* servicios */
#servicios {
    background-color: white;
    padding: 4rem;
}

.servicios-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 1.5rem;
}

#servicios h2 { text-align: center; }

#servicios article { 
    width: 25%;
    background-color: var(--white-smoke);
    border-radius: 0.8rem;
    padding: 2rem;
}

#servicios a { color: var(--night); }
#servicios a:hover { font-weight: 600; }

/* cta */
#cta {
    background-color: var(--yinmn-blue);
    padding: 3rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

#cta h1 {
    text-align: center;
    font-size: 3rem;
}

#cta h2 {
    color: var(--white-smoke);
}

#cta p {
    color: var(--white-smoke);
    width: 80%;
    text-align: center;
}

footer {
    background-color: var(--yinmn-blue);
    color: var(--white-smoke);
    display: flex;
    justify-content: space-between;
    padding: 1rem 4rem;
}

/* media query */

@media (max-width: 992px) {
    nav { display: none; }
    h1, h2 { text-align: center; }
    #hero { height: auto; }

    .hero-text {
        grid-template-columns: 1fr; 
        gap: 2rem;
        margin-top: 1rem;
    }
    
    .right {
        align-items: center; 
        text-align: center;
    }
    
    .lead { max-width: 90%; }

    #intro, .servicios-container { 
        flex-direction: column; 
    }

    #intro article, 
    #servicios article { width: 100%; } 
    .line-break { display: inline; }
    #imagen-deco { display: none; }
    #flotante { display: none; }
    #cta h1 { font-size: 2.75rem; }
    footer p, footer a { font-size: 0.85rem; }

}